<html data-th-replace="~{layout::layout(title=~{::title}, main=~{::main}, header=~{::header})}">
<script src="/JavaScript/page.NouvelleVente.js"></script>
<title>Nouvelle vente</title>

<main>
<h1>Nouvelle vente</h1>
<div class="container">
  <div class="encadre">
    <h2>Images de l'article</h2>
    <div class="images" id="imagesContainer"></div>
    <input type="file" id="photo" accept="image/*" onchange="addImage(event)" multiple>
    <script src="/JavaScript/page.NouvelleVente.js"></script>
  </div>

  <div class="encadre form-section">
    <div>
      <h2>Nouvelle Vente</h2>
      <form th:object="${articleVendu}" method="post" th:action="@{/creerVente}" id="formulaireVente">
        <ul>
          <li>
            <label for="inputArticle">Nom de l'article :</label>
            <input type="text" id="inputArticle" th:field="*{nomArticle}" required />
          </li>
          <li>
            <label for="description">Description :</label>
            <textarea id="description" name="description" th:field="*{description}" rows="3" required></textarea>
          </li>
          <li>
            <label for="categorie">Catégorie :</label>
            <select id="categorie" name="categorie" th:field="*{categorie}" required>
              <option value="informatique">Informatique</option>
              <option value="ameublement">Ameublement</option>
              <option value="vetement">Vêtement</option>
              <option value="loisir&Sport">Loisir&Sport</option>
            </select>
          </li>
          <li>
            <label for="miseaprix">Mise à prix :</label>
            <input type="number" id="miseaprix" name="miseaprix" th:field="*{miseAPrix}" required>
          </li>
          <li>
            <label for="debutenchere">Début de l'enchère :</label>
            <input type="date" id="debutenchere" name="debutenchere" th:field="*{dateDebutEncheres}" required>
          </li>
          <li>
            <label for="finenchere">Fin des enchères :</label>
            <input type="date" id="finenchere" name="finenchere" th:field="*{dateFinEncheres}" required>
          </li>
        </ul>
      </form>
    </div>
  </div>


  <div>
      <h2>Retrait</h2>
      <form method="post" id="formulaireRetrait">
        <label for="rue">Rue :</label>
        <input type="text" id="rue" name="rue" required>


        <label for="codePostal">Code postal :</label>
        <input type="text" id="codePostal" name="codePostal" maxlength="5" pattern="\d{5}" required>

        <label for="ville">Ville :</label>
        <input list="villes" id="ville" name="ville" required>
        <datalist id="villes">
          <option value="Paris">
          <option value="Marseille">
          <option value="Lyon">
          <option value="Toulouse">
          <option value="Nice">
        </datalist>

        <div>
          <input type="button" value="Enregistrer" onclick="enregistrerAnnonce()">
          <input type="reset" value="Annuler">
        </div>
      </form>
    </div>
  </div>
</div>
</main>
</html>
